<%= form_with model: sake_log, url: sake_log.persisted? ? sake_log_path(sake_log.sake_log) : sake_logs_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <section class="flex flex-col items-center gap-6 px-2">
    <%# 日本酒名 %>
    <div class="w-full md:w-8/12 flex flex-col">
      <%= f.label :product_name, class: "font-semibold required" %>
      <%= f.text_field :product_name, class: "input input-primary w-full" %>
    </div>

    <%# TODO:表示の変更 #>
    <%# 好み度 %>
    <div class="w-full md:w-8/12">
      <%= f.label :rating, class: "font-semibold required" %>
      <div class="w-full flex justify-between items-center">
        <%# 画面左 好み度入力 %>
        <div class="rating rating-xl flex items-center gap-2">
          <%# 好み度0　%>
          <%= f.radio_button :rating, SakeLog::RATING_MIN, class: "rating-hidden", id: "rating-0", aria: { label: "clear" } %>

          <%# 好み度1〜5　%>
          <% rating_range = (SakeLog::RATING_MIN + 1)..SakeLog::RATING_MAX %>
          <% rating_range.each do |i| %>
            <%= f.radio_button :rating, i, class: "mask mask-star-2 bg-yellow-300", id: "rating-#{i}", aria: { label: "#{i} star" } %>
          <% end %>
        </div>

        <%# 画面右 クリアボタン %>
        <label for="rating-0" class= "cursor-pointer" >
          <span class="btn btn-outline btn-xs btn-primary">クリア</span>
        </label>
      </div>
    </div>

    <%# 香りの濃淡 %>
    <div class="w-full md:w-8/12">
      <%= f.label :aroma_strength, class: "font-semibold required" %>
      <div class="w-full ">
        <div class="px-5">
          <%= f.range_field :aroma_strength, min: SakeLog::AROMA_STRENGTH_MIN, max: SakeLog::AROMA_STRENGTH_MAX, step: 0.1, class: "range range-primary w-full" %>
        </div>
        <div class="flex justify-between px-7.5 mt-2 text-xs">
          <span>|</span>
          <span>|</span>
          <span>|</span>
        </div>
        <div class="flex justify-between px-2.5 mt-2 text-xs">
          <span>穏やか</span>
          <span>中間</span>
          <span>華やか</span>
        </div>
      </div>
    </div>

    <%# 味の濃淡 %>
    <div class="w-full md:w-8/12">
      <%= f.label :taste_strength, class: "font-semibold required" %>
      <div class="w-full ">
        <div class="px-5">
          <%= f.range_field :taste_strength, min: SakeLog::TASTE_STRENGTH_MIN, max: SakeLog::TASTE_STRENGTH_MAX, step: 0.1, class: "range range-primary w-full" %>
        </div>
        <div class="flex justify-between px-7.5 mt-2 text-xs">
          <span>|</span>
          <span>|</span>
          <span>|</span>
        </div>
        <div class="flex justify-between px-2.5 mt-2 text-xs">
          <span>スッキリ</span>
          <span>中間</span>
          <span>濃い</span>
        </div>
      </div>
    </div>

    <%# 感想 %>
    <div class="w-full md:w-8/12 flex flex-col">
      <%= f.label :review, class: "font-semibold" %>
      <%= f.text_area :review, class: "textarea textarea-primary w-full" %>
    </div>

    <div class="flex justify-center gap-2">
      <%= link_to "一覧に戻る", sake_logs_path, class: "btn btn-outline btn-primary md:btn-wide" %>
      <%= f.submit nil, class: "btn btn-primary md:btn-wide" %>
    </div>
  </section>
<% end %>
