<%= form_with model: sake_log do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= render 'shared/error_messages', object: f.object.sake %>
  <%= f.fields_for :sake do |sake_fields| %>
    <div class="my-5">
      <%= sake_fields.label :product_name %>
      <%= sake_fields.text_field :product_name %>
    </div>
  <% end %>
  <div class="my-5">
    <%= f.label :rating %>
    <div class="flex justify-between items-center">
      <%# 画面左 好み度入力 %>
      <div class="rating rating-xl flex items-center gap-2">
        <%# 好み度0　%>
        <%= f.radio_button :rating, SakeLog::RATING_MIN, class: "rating-hidden", id: "rating-0", aria: { label: "clear" } %>

        <%# 好み度1〜5　%>
        <% rating_range = (SakeLog::RATING_MIN + 1)..SakeLog::RATING_MAX %>
        <% rating_range.each do |i| %>
          <%= f.radio_button :rating, i, class: "mask mask-star-2 bg-yellow-300", id: "rating-#{i}", aria: { label: "#{i} star" } %>
        <% end %>
      </div>

      <%# 画面右 クリアボタン %>
      <%= label_tag "rating-0", class: "cursor-pointer tooltip", data: { tip: "好み度をクリア" } do %>
        <span class="btn btn-xs btn-secondary">クリア</span>
      <% end %>
    </div>
  </div>


  <div class="my-5">
    <%= f.label :aroma_strength %>
    <%= f.number_field :aroma_strength, step: 0.1 %>
  </div>
  <div class="my-5">
    <%= f.label :taste_strength %>
    <%= f.number_field :taste_strength, step: 0.1 %>
  </div>

  <div class="my-5">
    <%= f.label :review %>
    <%= f.text_area :review %>
  </div>

  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>
