<%= form_with model: sake_log do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="my-5">
    <%= f.label :product_name %>
    <%= text_field_tag 'sake_log[product_name]', params.dig(:sake_log, :product_name) %>
  </div>
  <div class="my-5">
    <%= f.label :rating %>
    <%= f.number_field :rating, step: 1  %>
  </div>
  <div class="my-5">
    <%= f.label :aroma_strength %>
    <%= f.number_field :aroma_strength, step: 0.1 %>
  </div>
  <div class="my-5">
    <%= f.label :taste_strength %>
    <%= f.number_field :taste_strength, step: 0.1 %>
  </div>

  <div class="my-5">
    <%= f.label :review %>
    <%= f.text_area :review %>
  </div>

  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>
