<footer class="fixed bottom-0 w-full bg-base-200 px-4 py-4">
  <div class="flex justify-evenly gap-4 max-w-screen-xl mx-auto text-[#c4cbc3]">
    <%= link_to "#", class: "flex flex-col items-center justify-center leading-none" do %>
      <span class="material-symbols-rounded">home</span>
      <span>home</span>
    <% end %>

    <%= link_to "#", class: "flex flex-col items-center justify-center leading-none" do %>
      <span class="material-symbols-rounded">search</span>
      <span>検索</span>
    <% end %>

    <%= link_to "#", class: "flex flex-col items-center" do %>
      <span class="material-symbols-outlined ms-fill ms-size-60 text-primary">add_circle</span>
    <% end %>

    <%= link_to "#", class: "flex flex-col items-center justify-center leading-none" do %>
      <span class="material-symbols-outlined">lists</span>
      <span>マイログ</span>
    <% end %>

    <%= link_to "#", class: "flex flex-col items-center justify-center leading-none" do %>
      <span class="material-symbols-rounded">star</span>
      <span>好み分析</span>
    <% end %>
  </div>
</footer>