<footer class="fixed bottom-0 w-full bg-base-200 px-4 py-4">
  <div class="dock text-footer-color dock-md md:dock-lg">
    <%= link_to "#", class: "flex flex-col items-center justify-center leading-none dock-active" do %>
      <span class="material-symbols-rounded">home</span>
      <span class="dock-label"><%= t('footer.home') %></span>
    <% end %>

    <%= link_to "#", class: "flex flex-col items-center justify-center leading-none" do %>
      <span class="material-symbols-rounded">search</span>
      <span class="dock-label"><%= t('footer.search') %></span>
    <% end %>

    <%= link_to "#", class: "flex flex-col items-center" do %>
      <span class="material-symbols-outlined ms-fill ms-size-60 text-primary drop-shadow-sm">add_circle</span>
    <% end %>


    <%= link_to "#", class: "flex flex-col items-center justify-center leading-none" do %>
      <span class="material-symbols-outlined">lists</span>
      <span class="dock-label"><%= t('footer.my_log') %></span>
    <% end %>

    <%= link_to "#", class: "flex flex-col items-center justify-center leading-none" do %>
      <span class="material-symbols-rounded">star</span>
      <span class="dock-label"><%= t('footer.analyze_preferences') %></span>
    <% end %>
  </div>
</footer>