<header class="sticky top-0 z-50 py-2 px-2 shadow-sm md:px-4 navbar bg-base-200 text-primary">
  <!-- ログイン・ログアウト -->
  <div class="navbar-start">
    <% unless user_signed_in? %>
      <!-- ログインボタン表示 -->
      <%= link_to new_user_session_path, class: "flex gap-1 items-center btn btn-ghost btn-sm text-primary md:btn-md" do %>
        <span class="material-symbols-rounded ms-size-20 md:ms-size-24">login</span>
        <span><%= t('header.login') %></span>
      <% end %>
    <% else %>
      <!-- ログアウトボタン表示 -->
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "flex gap-1 items-center btn btn-ghost btn-sm text-primary md:btn-md" do %>
        <span class="material-symbols-rounded ms-size-20 md:ms-size-24">logout</span>
        <span><%= t('header.logout') %></span>
      <% end %>
    <% end %>
  </div>

  <!-- ロゴ表示 -->
  <div class="navbar-center">
    <%= link_to root_path, class: "p-0 btn btn-ghost text-primary" do %>
      <%= inline_svg_tag "ginlog_logo.svg", class: "w-auto h-14" %>
    <% end %>
  </div>

  <!-- ハンバーガーメニュー -->
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <button type="button" class="btn btn-ghost btn-circle text-primary md:btn-md">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
      </button>
      <ul tabindex="-1" class="z-10 p-2 mt-3 w-52 shadow menu menu-md dropdown-content bg-base-300 text-base-content rounded-box md:menu-lg">
        <li><%= link_to "home", root_path %></li>
        <li class="mt-2 menu-title">データについて</li>
        <li>
          <%= link_to "さけのわデータを利用しています", "https://sakenowa.com",
              target: "_blank", rel: "noopener noreferrer", class: "text-xs" %>
        </li>
      </ul>
    </div>
  </div>
</header>
