<article id="<%= dom_id sake_log %>">
  <section class="body p-2">
    <%# ユーザー情報 %>
    <section class="flex gap-2">
      <span class="material-symbols-rounded ms-size-40 ">account_circle</span>
      <%# ユーザー名・投稿日時 %>
      <div>
        <h3 class="font-semibold text-lg"><%= sake_log.user.name %></h3>
        <p class="text-xs text-neutral-500"><%= l sake_log.created_at, format: :long %></p>
      </div>
      <%# 各種ボタン %>
      <div class="buttons ml-auto pt-2">
        <% if current_user&.own?(sake_log) %>
          <%# 削除ボタン %>
          <%= link_to sake_log_path(sake_log), id: "button-delete-#{sake_log.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm')} do %>
            <span class="material-symbols-rounded text-primary ms-size-16 md:ms-size-20">delete</span>
          <% end %>
        <% end %>
      </div>
    </section>

    <%# タイトル %>
    <section class="flex justify-between pl-2">
      <h2 class="title font-bold text-xl"><%= sake_log.sake.product_name %></h2>
    </section>

    <%# 各指標 %>
    <section class="pl-2">
      <%# 好み度 %>
      <div class="flex gap-0 items-center">
        <% SakeLog::RATING_MAX.times do |rate| %>
          <span class="inline-block w-3 h-3 md:w-5 md:h-5 mask mask-star-2 <%= rate < sake_log.rating ? "bg-yellow-300" : "bg-stone-400" %> " aria-hidden="true"></span>
        <% end %>
      </div>
      <%# 香りの濃淡 %>
      <p><%= "#{SakeLog.human_attribute_name(:aroma_strength)}：#{sake_log.aroma_strength}" %></p>
      <%# 味の濃淡 %>
      <p><%= "#{SakeLog.human_attribute_name(:taste_strength)}：#{sake_log.taste_strength}" %></p>
      <%# 感想 %>
      <%= simple_format(h(sake_log.review), class: "py-2") %>
    </section>

  </section>
</article>